/* vista desktop */
@media only screen and (min-width: 1024px){
	.navbar-expand-lg .navbar-collapse{justify-content: flex-end;}

	.container-fluid{
		overflow: hidden;
	}
	

	
	
}

/* vista tablet */
@media only screen and (min-width: 768px) and (max-width: 1023px){
	.navbar-expand-lg .navbar-collapse{justify-content: flex-end;}

	.container-fluid{
		overflow: hidden;
	}

	.containerAll img{
	width: 450px;
	border-radius: 4px;
	}


	.indexGaleria__img--ubicacion{
	margin: 50px auto;
	display: flex;
	flex-direction: row;
	flex-wrap:wrap;
	justify-content: space-evenly;
	}

	.indexGaleria__img--size{
		height:auto;
		min-width: 300px !important;
		margin: 20px auto;
		}
	
}

/* vista mobile */
@media only screen and (min-width:0px) and (max-width: 767px){

	.container-fluid{
		overflow: hidden;
	}

	.containerAll3{
	max-width: 1150px;

		img{
		width: 450px;
		padding: 20px;
		border-radius: 4px;
		}

	}

	

	.containerAll3 img{
	width: 450px;
	padding: 20px;
	border-radius: 4px;
	}



	.navbar-brand img{
	width: 60px;
	height:75px;
	}

	.cajaContenedora{
	width: 100%;
	max-width: 1000px;
	margin: auto;
	}

	
	p,span,li{font-size: 18px;}
	h1{font-size: 40px;}
	h3{font-size: 32px;}

	.indexGaleria__img--ubicacion{
	margin: 50px auto;
	}


	.indexGaleria__img--size{
		height:auto;
		min-width: 300px !important;
		margin: 20px auto;
		}

	.img-icon{
	margin-top: 50px;
	}
}



